vim/bundle/SrcExpl/
vim/bundle/YouCompleteMe/
vim/bundle/ctrlp.vim/
vim/bundle/nerdtree/
vim/bundle/tagbar/
vim/bundle/vim-airline-themes/
vim/bundle/vim-airline/
vim/bundle/vim-buftabline/
vim/bundle/vim-fugitive/
vim/bundle/vim-gitgutter/
vim/bundle/vimwiki/
vim/bundle/xmledit/
